In [45]:
#Import Dependencies
import pandas as pd

In [46]:
#Create filepaths
sub_path = '../Resources/substance_data.csv'
census_path = '../Resources/County Demographics.csv'

#Read in csv files
substance_df = pd.read_csv(sub_path)
census_df = pd.read_csv(census_path)
substance_df.head()

,FIPS,Alcohol Mortality Rate,Alcohol Mortality Rate(F),Alcohol Mortality Rate(M),Drug Mortality Rate,Drug Mortality Rate(F),Drug Mortality Rate(M),Self-harm Mortality Rate,Self-harm Mortality Rate(F),Self-harm Mortality Rate(M),Int. Violence Mortality Rate,Int. Violence Mortality Rate(F),Int. Violence Mortality Rate(M)
0,NaN,2.85,2.68,3.00,10.37,9.70,10.86,13.86,13.35,14.35,5.74,5.53,5.99
1,1.0,2.28,2.07,2.49,11.87,11.04,12.62,16.72,16.00,17.45,9.80,9.30,10.33
2,1001.0,1.45,0.90,2.11,7.32,5.17,9.60,18.19,16.68,19.79,6.31,4.44,8.38
3,1003.0,2.53,1.88,3.36,13.30,11.24,15.58,18.51,17.34,19.78,5.27,4.09,6.76
4,1005.0,2.72,1.89,3.57,5.40,3.35,8.04,16.20,14.30,18.17,10.60,7.95,13.56

In [47]:
#Merge 2 datasets on FIPS
cen_sub = pd.merge(census_df, substance_df, on='FIPS', how='outer')
cen_sub.head()

,FIPS,State,Area_Name,POP_ESTIMATE_2014,HH_income_2014,Unemployment_rate_2014,Alcohol Mortality Rate,Alcohol Mortality Rate(F),Alcohol Mortality Rate(M),Drug Mortality Rate,Drug Mortality Rate(F),Drug Mortality Rate(M),Self-harm Mortality Rate,Self-harm Mortality Rate(F),Self-harm Mortality Rate(M),Int. Violence Mortality Rate,Int. Violence Mortality Rate(F),Int. Violence Mortality Rate(M)
0,0.0,US,United States,"318,386,421","53,657",6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000.0,AL,Alabama,"4,842,481","42,917",6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001.0,AL,Autauga County,"54,876","54,366",5.8,1.45,0.90,2.11,7.32,5.17,9.60,18.19,16.68,19.79,6.31,4.44,8.38
3,1003.0,AL,Baldwin County,"199,189","49,626",6.1,2.53,1.88,3.36,13.30,11.24,15.58,18.51,17.34,19.78,5.27,4.09,6.76
4,1005.0,AL,Barbour County,"26,758","34,971",10.5,2.72,1.89,3.57,5.40,3.35,8.04,16.20,14.30,18.17,10.60,7.95,13.56

In [48]:
#Remove rows where FIPS==NaN
cen_sub = cen_sub[pd.notnull(cen_sub['FIPS'])]

In [49]:
#Remove rows where FIPS is duplicated
cen_sub.drop_duplicates('FIPS',inplace=True)
cen_sub.head()

,FIPS,State,Area_Name,POP_ESTIMATE_2014,HH_income_2014,Unemployment_rate_2014,Alcohol Mortality Rate,Alcohol Mortality Rate(F),Alcohol Mortality Rate(M),Drug Mortality Rate,Drug Mortality Rate(F),Drug Mortality Rate(M),Self-harm Mortality Rate,Self-harm Mortality Rate(F),Self-harm Mortality Rate(M),Int. Violence Mortality Rate,Int. Violence Mortality Rate(F),Int. Violence Mortality Rate(M)
0,0.0,US,United States,"318,386,421","53,657",6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000.0,AL,Alabama,"4,842,481","42,917",6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001.0,AL,Autauga County,"54,876","54,366",5.8,1.45,0.90,2.11,7.32,5.17,9.60,18.19,16.68,19.79,6.31,4.44,8.38
3,1003.0,AL,Baldwin County,"199,189","49,626",6.1,2.53,1.88,3.36,13.30,11.24,15.58,18.51,17.34,19.78,5.27,4.09,6.76
4,1005.0,AL,Barbour County,"26,758","34,971",10.5,2.72,1.89,3.57,5.40,3.35,8.04,16.20,14.30,18.17,10.60,7.95,13.56

In [50]:
#Write to csv file
cen_sub.to_csv('../Resources/Census_Substance2014.csv', index=False, header=True)